.fx-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
}

.fx-row.justify--start {
  justify-content: flex-start;
}

.fx-row.justify--end {
  justify-content: flex-end;
}

.fx-row.justify--center {
  justify-content: center;
}

.fx-row.justify--space-around {
  justify-content: space-around;
}

.fx-row.justify--space-between {
  justify-content: space-between;
}

.fx-row.align--top {
  align-items: flex-start;
}

.fx-row.align--middle {
  align-items: center;
}

.fx-row.align--bottom {
  align-items: flex-end;
}
