.fx-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.fx-image_loading, .fx-image_error {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fx-image_loading .fx-icon, .fx-image_error .fx-icon {
  --color: #d9d9d9;
  --size: 32px;
}

.fx-image_ratio {
  padding-top: 100%;
  float: left;
}

.fx-image_img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.fx-image_img.mode--scaleToFill {
  object-fit: fill;
}

.fx-image_img.mode--aspectFit {
  object-fit: contain;
}

.fx-image_img.mode--aspectFill {
  object-fit: cover;
}

.fx-image_img.mode--widthFix {
  height: auto;
}

.fx-image_img.mode--top, .fx-image_img.mode--bottom {
  left: 50%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
}

.fx-image_img.mode--top {
  top: 0;
}

.fx-image_img.mode--bottom {
  bottom: 0;
}

.fx-image_img.mode--center {
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.fx-image_img.mode--left, .fx-image_img.mode--right {
  top: 50%;
  width: auto;
  height: auto;
  transform: translateY(-50%);
}

.fx-image_img.mode--left {
  left: 0;
}

.fx-image_img.mode--right {
  right: 0;
}

.fx-image_img.mode--top-left {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

.fx-image_img.mode--top-right {
  top: 0;
  right: 0;
  width: auto;
  height: auto;
}

.fx-image_img.mode--bottom-left {
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.fx-image_img.mode--bottom-right {
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}
