.fx-side-tab {
  --side-tab-active-color: #262626;
  --side-tab-color: #595959;
  height: 100%;
  background-color: #f5f5f5;
}

.fx-side-tab_list {
  margin: 0;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  height: auto;
  background-color: #fff;
  padding: 0;
}

.fx-side-tab_item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  box-sizing: border-box;
  color: var(--side-tab-color);
  min-height: 40px;
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 10px 12px;
}

.fx-side-tab_item .fx-icon {
  --size: 17px;
  --color: var(--side-tab-color);
  margin-right: 4px;
}

.fx-side-tab_item.active {
  background-color: #fff;
}

.fx-side-tab_item.active-prev {
  border-radius: 0 0 4px 0;
}

.fx-side-tab_item.active-next {
  border-radius: 0 4px 0 0;
}

.fx-side-tab_item-inner {
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  align-items: center;
}

.fx-side-tab_item-inner::before {
  content: none;
  position: absolute;
  top: -1px;
  left: -4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  border-radius: 50%;
  background: linear-gradient(145deg, rgba(24, 144, 255, 0.3) 13.5%, rgba(24, 144, 255, 0.05) 86.5%);
}

.fx-side-tab_item-text {
  display: block;
  word-break: break-all;
  white-space: pre-wrap;
}

.fx-side-tab_item.active {
  color: var(--side-tab-active-color);
  font-weight: 700;
}

.fx-side-tab_item.active .fx-icon {
  --color: var(--side-tab-active-color);
}

.fx-side-tab_item.active .fx-side-tab_item-inner::before {
  content: '';
}
