.fx-fixed_fixed {
  position: fixed;
  background-color: #fff;
}

.fx-fixed_fixed.placement--top {
  top: 0;
  left: 0;
  right: 0;
}

.fx-fixed_fixed.placement--bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.fx-fixed_fixed.placement--left {
  top: 0;
  bottom: 0;
  left: 0;
}

.fx-fixed_fixed.placement--right {
  top: 0;
  bottom: 0;
  right: 0;
}
