@import '../style/var.scss';

.fx-fixed {
  &_fixed {
    position: fixed;
    background-color: #fff;

    &.placement-- {
      &top {
        top: 0;
        left: 0;
        right: 0;
      }

      &bottom {
        bottom: 0;
        left: 0;
        right: 0;
      }

      &left {
        top: 0;
        bottom: 0;
        left: 0;
      }

      &right {
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
}
