@-webkit-keyframes fx-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

@keyframes fx-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

.fx-skeleton_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.fx-skeleton_layout-left + .fx-skeleton_layout-right {
  padding: 8px 0 0 0;
  margin-left: 12px;
}

.fx-skeleton_layout-right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fx-skeleton_layout-right .fx-skeleton-title {
  margin-bottom: 20px;
}

.fx-skeleton-title {
  display: block;
  width: 50%;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f0f0f0), color-stop(37%, #d9d9d9), color-stop(63%, #f0f0f0));
  background: linear-gradient(90deg, #f0f0f0 25%, #d9d9d9 37%, #f0f0f0 63%);
  background-size: 400% 100%;
  border-radius: 2px;
}

.fx-skeleton-title.animated {
  -webkit-animation: fx-skeleton-loading 1.4s ease infinite;
  animation: fx-skeleton-loading 1.4s ease infinite;
}

.fx-skeleton-avatar {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f0f0f0), color-stop(37%, #d9d9d9), color-stop(63%, #f0f0f0));
  background: linear-gradient(90deg, #f0f0f0 25%, #d9d9d9 37%, #f0f0f0 63%);
  background-size: 400% 100%;
}

.fx-skeleton-avatar.shape--circle {
  border-radius: 50%;
}

.fx-skeleton-avatar.shape--square {
  border-radius: 0;
}

.fx-skeleton-avatar.animated {
  -webkit-animation: fx-skeleton-loading 1.4s ease infinite;
  animation: fx-skeleton-loading 1.4s ease infinite;
}

.fx-skeleton-button {
  display: block;
  width: 56px;
  height: 28px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f0f0f0), color-stop(37%, #d9d9d9), color-stop(63%, #f0f0f0));
  background: linear-gradient(90deg, #f0f0f0 25%, #d9d9d9 37%, #f0f0f0 63%);
  background-size: 400% 100%;
}

.fx-skeleton-button.shape--round {
  border-radius: 14px;
}

.fx-skeleton-button.animated {
  -webkit-animation: fx-skeleton-loading 1.4s ease infinite;
  animation: fx-skeleton-loading 1.4s ease infinite;
}

.fx-skeleton-image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f0f0f0), color-stop(37%, #d9d9d9), color-stop(63%, #f0f0f0));
  background: linear-gradient(90deg, #f0f0f0 25%, #d9d9d9 37%, #f0f0f0 63%);
  background-size: 400% 100%;
}

.fx-skeleton-image.animated {
  -webkit-animation: fx-skeleton-loading 1.4s ease infinite;
  animation: fx-skeleton-loading 1.4s ease infinite;
}

.fx-skeleton-paragraph {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.fx-skeleton-paragraph li {
  width: 100%;
  margin: 0 0 12px 0;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f0f0f0), color-stop(37%, #d9d9d9), color-stop(63%, #f0f0f0));
  background: linear-gradient(90deg, #f0f0f0 25%, #d9d9d9 37%, #f0f0f0 63%);
  background-size: 400% 100%;
  border-radius: 2px;
}

.fx-skeleton-paragraph li:last-child {
  width: 60%;
  margin-bottom: 0;
}

.fx-skeleton-paragraph.animated li {
  -webkit-animation: fx-skeleton-loading 1.4s ease infinite;
  animation: fx-skeleton-loading 1.4s ease infinite;
}
