@import '../style/var.scss';

.fx-form-item {
  display: block;

  > .fx-cell {
    .fx-cell {
      &_description {
        color: $danger-color;
      }
    }
  }

  + .fx-form-item .fx-cell::before {
    content: '';
    margin-left: 16px;
  }
}
