.fx-calendar-view {
  --calendar-view-color: #595959;
  --calendar-view-highlight-color: #1890ff;
  --calendar-view-highlight2-color: #ff4d4f;
  height: 520px;
  background: #fff;
  overflow: hidden;
  color: var(--calendar-view-color);
}

.fx-calendar-view_header {
  height: 28px;
  border-bottom: 1px solid #f0f0f0;
}

.fx-calendar-view_weekdays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fx-calendar-view_weekday {
  width: 14.285%;
  text-align: center;
  font-size: 14px;
}

.fx-calendar-view_weekday.highlight {
  color: var(--calendar-view-highlight2-color);
}

.fx-calendar-view_body {
  position: relative;
  height: calc(100% - 32px);
  overflow-y: auto;
}

.fx-calendar-view_month-caption {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  background-color: #fafafa;
  z-index: 1;
}

.fx-calendar-view_days {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 0;
}

.fx-calendar-view_day {
  width: 14.285%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  font-size: 17px;
}

.fx-calendar-view_day span {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 11px;
  display: block;
  width: 100%;
  text-align: center;
  height: 15px;
  line-height: 15px;
  margin-top: -24px;
}

.fx-calendar-view_day span.highlight {
  color: var(--calendar-view-highlight-color);
}

.fx-calendar-view_day span.fx-calendar-view_day-bottom.text {
  margin: 9px 0 0 0;
}

.fx-calendar-view_day span.fx-calendar-view_day-bottom.text.highlight {
  color: var(--calendar-view-highlight2-color);
}

.fx-calendar-view_day.disabled {
  opacity: 0.2;
}

.fx-calendar-view_day.selected, .fx-calendar-view_day.in-range {
  color: #fff;
}

.fx-calendar-view_day.selected span.highlight, .fx-calendar-view_day.in-range span.highlight {
  color: #fff;
}

.fx-calendar-view_day.selected::before, .fx-calendar-view_day.in-range::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 60px;
  background-color: var(--calendar-view-highlight-color);
  z-index: -1;
  margin-top: -30px;
  border-radius: 4px;
}

.fx-calendar-view_day.in-range {
  color: var(--calendar-view-highlight-color);
}

.fx-calendar-view_day.in-range span.highlight {
  color: var(--calendar-view-highlight-color);
}

.fx-calendar-view_day.in-range::before {
  border-radius: 0;
  opacity: 0.2;
}
