@import '../style/var.scss';

.fx-cell {
  --cell-label-color: #{$title-color};
  --cell-content-color: #{$font-color};
  --cell-description-color: #{$font2-color};
  min-height: 48px;
  background-color: #fff;
  position: relative;

  + .fx-cell::before {
    content: '';
    margin-left: 16px;
  }

  &_cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
    @include background-active;
  }

  &_inner {
    padding: 8px 16px 8px 0;
    margin-left: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_label {
    height: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 32px;
    color: var(--cell-label-color);
    font-size: 17px;
    padding-right: 12px;
  }

  &_required {
    color: $danger-color;
  }

  &_description {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    color: var(--cell-description-color);
    margin: 0 0 4px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;

    .fx-cell.has--icon & {
      margin-left: 23px;
    }
  }

  &_content {
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 17px;
    color: var(--cell-content-color);
    min-height: 32px;
    line-height: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &_icon {
    display: flex;
    align-items: center;
    height: 32px;
    margin-right: 5px;

    .fx-icon {
      --size: 18px;
      --color: var(--cell-label-color);
    }
  }

  &_link-icon {
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 5px;

    .fx-icon {
      --size: 18px;
      --color: var(--cell-content-color);
    }
  }

  &:not(.disabled).clickable {
    cursor: pointer;
    &:active {
      .fx-cell_cover {
        display: block;
      }
    }
  }

  &.disabled {
    --cell-label-color: #{$font3-color};
    --cell-content-color: #{$font3-color};
    --cell-description-color: #{$font3-color};
    cursor: not-allowed;
  }

  .fx {
    &-input {
      --input-height: 32px;
      border-left-width: 0;
      border-right-width: 0;
      border-top-color: transparent;
      border-bottom-color: transparent;
      padding: 0;
      border-radius: 0;

      &.focus {
        border-color: transparent;
      }

      &_input {
        text-align: right;
      }

      &.disabled {
        background-color: transparent;
      }
    }

    &-radio-group {
      justify-content: flex-end;

      &.vertical .fx-radio_box {
        justify-content: flex-end;
      }
    }

    &-checkbox-group {
      justify-content: flex-end;

      &.vertical .fx-checkbox_box {
        justify-content: flex-end;
      }
    }

    &-picker-view {
      margin: -8px 0;
    }
  }
}
