.fx-cell {
  --cell-label-color: #262626;
  --cell-content-color: #595959;
  --cell-description-color: #8c8c8c;
  min-height: 48px;
  background-color: #fff;
  position: relative;
}

.fx-cell + .fx-cell::before {
  content: '';
  margin-left: 16px;
}

.fx-cell_cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  z-index: 0;
  display: none;
}

.fx-cell_inner {
  padding: 8px 16px 8px 0;
  margin-left: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fx-cell_label {
  height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 32px;
  color: var(--cell-label-color);
  font-size: 17px;
  padding-right: 12px;
}

.fx-cell_required {
  color: #ff4d4f;
}

.fx-cell_description {
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  color: var(--cell-description-color);
  margin: 0 0 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}

.fx-cell.has--icon .fx-cell_description {
  margin-left: 23px;
}

.fx-cell_content {
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 17px;
  color: var(--cell-content-color);
  min-height: 32px;
  line-height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fx-cell_icon {
  display: flex;
  align-items: center;
  height: 32px;
  margin-right: 5px;
}

.fx-cell_icon .fx-icon {
  --size: 18px;
  --color: var(--cell-label-color);
}

.fx-cell_link-icon {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 5px;
}

.fx-cell_link-icon .fx-icon {
  --size: 18px;
  --color: var(--cell-content-color);
}

.fx-cell:not(.disabled).clickable {
  cursor: pointer;
}

.fx-cell:not(.disabled).clickable:active .fx-cell_cover {
  display: block;
}

.fx-cell.disabled {
  --cell-label-color: #bfbfbf;
  --cell-content-color: #bfbfbf;
  --cell-description-color: #bfbfbf;
  cursor: not-allowed;
}

.fx-cell .fx-input {
  --input-height: 32px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 0;
}

.fx-cell .fx-input.focus {
  border-color: transparent;
}

.fx-cell .fx-input_input {
  text-align: right;
}

.fx-cell .fx-input[disabled] {
  background-color: transparent;
}

.fx-cell .fx-radio-group {
  justify-content: flex-end;
}

.fx-cell .fx-radio-group.vertical .fx-radio_box {
  justify-content: flex-end;
}

.fx-cell .fx-checkbox-group {
  justify-content: flex-end;
}

.fx-cell .fx-checkbox-group.vertical .fx-checkbox_box {
  justify-content: flex-end;
}

.fx-cell .fx-picker-view {
  margin: -8px 0;
}
