@import '../style/var.scss';

.fx-tag {
  --tag-icon-size: 16px;
  --tag-color: #fff;
  --tag-background-color: #{$background-color};
  --tag-border-color: #{$border-color};

  display: inline-flex;
  align-items: center;
  height: 24px;
  padding: 0 12px;
  border-radius: 2px;
  font-size: 12px;
  color: var(--tag-color);
  background-color: var(--tag-background-color);
  border-style: solid;
  border-width: 0;
  border-color: var(--tag-border-color);
  box-sizing: border-box;
  user-select: none;

  + .fx-tag {
    margin-left: 12px;
  }

  .fx-icon {
    --size: var(--tag-icon-size);
    --color: var(--tag-color);
    cursor: pointer;
    margin: 0 -2px 0 2px;

    &:not(.disabled):active {
      border-radius: 2px;
      @include background-active;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }

  &.size--large {
    .fx-icon {
      margin: 0 -4px 0 4px;
    }

    &.pattern--plain {
      padding: 0 11px;
      border-width: 1px;
    }
  }

  &.size--middle {
    height: 18px;
    font-size: 10px;
    padding: 0 8px;
    --tag-icon-size: 12px;

    &.pattern--plain {
      padding: 0 7px;
      border-width: 1px;
    }
  }

  &.size--small {
    height: 14px;
    font-size: 9px;
    padding: 0 4px;
    --tag-icon-size: 10px;

    &.pattern--plain {
      padding: 0 3px;
      border-width: 1px;
    }
  }

  &.type--default {
    --tag-color: #{$font2-color};

    &.pattern--dark {
      --tag-background-color: #{$font2-color};
      --tag-color: #fff;
    }

    &.pattern--plain {
      --tag-background-color: #fff;
      --tag-border-color: #{$border-color};
    }
  }

  &.type--primary {
    --tag-color: #{$primary-color};
    --tag-background-color: #{$primary-background-color};

    &.pattern--dark {
      --tag-background-color: #{$primary-color};
      --tag-color: #fff;
    }

    &.pattern--plain {
      --tag-background-color: #fff;
      --tag-border-color: #{$primary-border-color};
    }
  }

  &.type--success {
    --tag-color: #{$success-color};
    --tag-background-color: #{$success-background-color};

    &.pattern--dark {
      --tag-background-color: #{$success-color};
      --tag-color: #fff;
    }

    &.pattern--plain {
      --tag-background-color: #fff;
      --tag-border-color: #{$success-border-color};
    }
  }

  &.type--warning {
    --tag-color: #{$warning-color};
    --tag-background-color: #{$warning-background-color};

    &.pattern--dark {
      --tag-background-color: #{$warning-color};
      --tag-color: #fff;
    }

    &.pattern--plain {
      --tag-background-color: #fff;
      --tag-border-color: #{$warning-border-color};
    }
  }

  &.type--danger {
    --tag-color: #{$danger-color};
    --tag-background-color: #{$danger-background-color};

    &.pattern--dark {
      --tag-background-color: #{$danger-color};
      --tag-color: #fff;
    }

    &.pattern--plain {
      --tag-background-color: #fff;
      --tag-border-color: #{$danger-border-color};
    }
  }
}
