.fx-sticky-view {
  position: relative;
}

.fx-sticky-view_top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.fx-sticky-view_top .fx-sticky_content {
  overflow: hidden;
}

.fx-sticky-view_fixed {
  width: 100%;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 16px;
  background-color: #fff;
  color: #595959;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fx-sticky-view-item_header {
  width: 100%;
  height: 28px;
  line-height: 28px;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 16px;
  background-color: #fff;
  color: #595959;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
