@import '../style/var.scss';

.fx-sticky-view {
  position: relative;

  &_top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .fx-sticky_content {
      overflow: hidden;
    }
  }

  &_fixed {
    width: 100%;
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 16px;
    background-color: #fff;
    color: $font-color;
    font-size: 14px;
    box-sizing: border-box;
  }
}

.fx-sticky-view-item {
  &_header {
    width: 100%;
    height: 28px;
    line-height: 28px;
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 16px;
    background-color: #fff;
    color: $font-color;
    font-size: 14px;
    box-sizing: border-box;
  }
}
