@import '../style/var.scss';

.fx-flat-list {
  position: relative;
  display: block;
  width: 100%;

  &_list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateZ(0);
  }

  &_item {
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;

    &-inner {
      height: 100%;
      flex-grow: 1;
    }
  }

  &_header,
  &_footer {
    .fx-flat-list.horizontal & {
      display: inline-block;
      vertical-align: top;
    }
  }

  &.horizontal {
    white-space: nowrap;

    .fx-flat-list {
      &_list {
        display: inline-flex;
        height: 100%;
      }

      &_item {
        display: inline-flex;
        flex-direction: row;
        height: 100%;
        vertical-align: top;
      }
    }
  }

  &_indicator.fx-load-more {
    height: 48px;
  }
}
