@import '../style/var.scss';

.#{$prefix}-flat-list {
  position: relative;
  display: block;
  width: 100%;

  &_list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &_item {
    display: flex;
    flex-direction: column;

    &-inner {
      height: 100%;
      flex-grow: 1;
    }
  }

  &_header,
  &_footer {
    .#{$prefix}-flat-list.horizontal & {
      display: inline-block;
      vertical-align: top;
    }
  }

  &.horizontal {
    white-space: nowrap;

    .#{$prefix}-flat-list {
      &_list {
        display: inline-flex;
        height: 100%;
      }

      &_item {
        display: inline-flex;
        flex-direction: row;
        height: 100%;
        vertical-align: top;
      }
    }
  }

  &_indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    color: $font-color;
    box-sizing: border-box;
    height: 48px;

    .#{$prefix}-icon {
      --size: 18px;
      --color: #{$font-color};
      margin-right: 8px;
    }

    span {
      line-height: 16px;
      text-align: center;
      white-space: normal;
    }
  }
}
