@import '../style/var.scss';

.#{$prefix}-back-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  font-size: 17px;
  --back-top-color: #{$title-color};
  color: var(--back-top-color);

  .#{$prefix}-icon {
    --size: 40px;
    --color: var(--back-top-color);
    display: block;
  }
}
