@keyframes #{$prefix}-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

@mixin skeleton-background {
  background: linear-gradient(
    90deg,
    $divider-color 25%,
    $border-color 37%,
    $divider-color 63%
  );
  background-size: 400% 100%;
}

@mixin skeleton-animation {
  animation: #{$prefix}-skeleton-loading 1.4s ease infinite;
}
