.fx-scroll-view {
  display: block;
  width: 100%;
  overflow: hidden;
}

.fx-scroll-view.scroll-x {
  overflow-x: auto;
  white-space: nowrap;
}

.fx-scroll-view.scroll-y {
  overflow-y: auto;
}

.fx-scroll-view.smooth {
  scroll-behavior: smooth;
}

.fx-scroll-view_inner {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  transform: translateZ(0);
}

.fx-scroll-view.scroll-x .fx-scroll-view_inner {
  display: inline-block;
  vertical-align: top;
}

.fx-scroll-view.scroll-x:not(.scroll-y) .fx-scroll-view_inner {
  height: 100%;
}

.fx-scroll-view_content {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.fx-scroll-view.scroll-x:not(.scroll-y) .fx-scroll-view_content {
  height: 100%;
}

.fx-scroll-view_pull-refresh, .fx-scroll-view_lower-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translate3d(0, -100%, 0);
}

.fx-scroll-view_pull-refresh-indicator, .fx-scroll-view_lower-loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  color: #595959;
  box-sizing: border-box;
  height: 48px;
}

.fx-scroll-view_pull-refresh-indicator .fx-icon, .fx-scroll-view_lower-loading-indicator .fx-icon {
  --size: 18px;
  --color: #595959;
  margin-right: 8px;
}

.fx-scroll-view_pull-refresh-indicator span, .fx-scroll-view_lower-loading-indicator span {
  line-height: 16px;
  text-align: center;
  white-space: normal;
}

.fx-scroll-view_pull-refresh.direction--unknown, .fx-scroll-view_lower-loading.direction--unknown {
  display: none;
}

.fx-scroll-view_pull-refresh.direction--up, .fx-scroll-view_lower-loading.direction--up {
  top: auto;
  bottom: 0;
  align-items: flex-start;
  transform: translate3d(0, 100%, 0);
}

.fx-scroll-view_pull-refresh.direction--left, .fx-scroll-view_pull-refresh.direction--right, .fx-scroll-view_lower-loading.direction--left, .fx-scroll-view_lower-loading.direction--right {
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  transform: translate3d(-100%, 0, 0);
}

.fx-scroll-view_pull-refresh.direction--left .fx-scroll-view_pull-refresh-indicator, .fx-scroll-view_pull-refresh.direction--right .fx-scroll-view_pull-refresh-indicator, .fx-scroll-view_lower-loading.direction--left .fx-scroll-view_pull-refresh-indicator, .fx-scroll-view_lower-loading.direction--right .fx-scroll-view_pull-refresh-indicator {
  width: 48px;
  height: 100%;
  flex-direction: column;
}

.fx-scroll-view_pull-refresh.direction--left .fx-scroll-view_pull-refresh-indicator .fx-icon, .fx-scroll-view_pull-refresh.direction--right .fx-scroll-view_pull-refresh-indicator .fx-icon, .fx-scroll-view_lower-loading.direction--left .fx-scroll-view_pull-refresh-indicator .fx-icon, .fx-scroll-view_lower-loading.direction--right .fx-scroll-view_pull-refresh-indicator .fx-icon {
  margin: 0 0 8px 0;
}

.fx-scroll-view_pull-refresh.direction--left .fx-scroll-view_pull-refresh-indicator span, .fx-scroll-view_pull-refresh.direction--right .fx-scroll-view_pull-refresh-indicator span, .fx-scroll-view_lower-loading.direction--left .fx-scroll-view_pull-refresh-indicator span, .fx-scroll-view_lower-loading.direction--right .fx-scroll-view_pull-refresh-indicator span {
  padding: 0 12px;
}

.fx-scroll-view_pull-refresh.direction--left, .fx-scroll-view_lower-loading.direction--left {
  left: auto;
  right: 0;
  transform: translate3d(100%, 0, 0);
  justify-content: flex-start;
}
