@import '../style/var.scss';
@import '../style/mixin.scss';

.fx-icon {
  --size: 24px;
  --color: #{$title-color};

  display: inline-block;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  line-height: 0;
  fill: var(--color);

  &.spin {
    @include rotate-360-animation(800ms);
  }
}
