@-webkit-keyframes fx-rotate-360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fx-rotate-360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fx-icon {
  --size: 24px;
  --color: #262626;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  line-height: 0;
  fill: var(--color);
}

.fx-icon.spin {
  -webkit-animation: fx-rotate-360 800ms infinite linear both;
  animation: fx-rotate-360 800ms infinite linear both;
}
