.fx-checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #262626;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fx-checkbox-group.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  min-height: 32px;
}

.fx-checkbox-group.vertical > .fx-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.fx-checkbox-group.vertical > .fx-checkbox + .fx-checkbox {
  margin-left: 0;
}

.fx-checkbox-group.vertical > .fx-checkbox + .fx-checkbox::before {
  content: '';
}
