.fx-checkbox-group {
  display: flex;
  height: 32px;
  align-items: center;
  color: #262626;
  box-sizing: border-box;
  flex: 1;
}

.fx-checkbox-group.vertical {
  flex-direction: column;
  height: auto;
  min-height: 32px;
}

.fx-checkbox-group.vertical > .fx-checkbox {
  display: flex;
  width: 100%;
}

.fx-checkbox-group.vertical > .fx-checkbox + .fx-checkbox {
  margin-left: 0;
}

.fx-checkbox-group.vertical > .fx-checkbox + .fx-checkbox::before {
  content: '';
}
