@import '../style/var.scss';

.#{$prefix}-collapse-item {
  &_body {
    overflow: hidden;
    transition: height 0.2s;
    will-change: height;

    &::before {
      content: '';
    }
  }

  &_content {
    font-size: 14px;
    color: $font-color;
    line-height: 20px;
  }

  + .#{$prefix}-collapse-item::before {
    content: '';
  }

  &_header {
    .#{$prefix}-cell_link-icon {
      transition: transform 0.2s;
    }
  }

  &.active {
    .#{$prefix}-collapse-item_header .#{$prefix}-cell_link-icon {
      transform: rotate(180deg);
    }
  }
}
