.fx-nav-bar {
  --nav-bar-height: 52px;
  position: relative;
  height: var(--nav-bar-height);
  width: 100%;
  font-size: 17px;
}

.fx-nav-bar_inner {
  position: relative;
  width: 100%;
}

.fx-nav-bar_inner.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.fx-nav-bar_inner::after {
  content: '';
}

.fx-nav-bar_layout {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: var(--nav-bar-height);
}

.fx-nav-bar_title {
  flex: 1;
  margin: 0 90px;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
  height: var(--nav-bar-height);
  line-height: var(--nav-bar-height);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}

.fx-nav-bar_left, .fx-nav-bar_right {
  position: absolute;
  left: 0;
  top: 0;
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
}

.fx-nav-bar_right {
  left: auto;
  right: 0;
}

.fx-nav-bar_button-group {
  height: 100%;
  max-height: 64px;
}

.fx-nav-bar_button {
  border-radius: 0;
  height: 100%;
}
