.fx-nav-bar {
  --nav-bar-height: 52px;
  --nav-bar-background: #fff;
  position: relative;
  height: var(--nav-bar-height);
  width: 100%;
  font-size: 17px;
}

.fx-nav-bar_inner {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: var(--nav-bar-height);
  background: var(--nav-bar-background);
}

.fx-nav-bar_inner.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.fx-nav-bar_inner::after {
  content: '';
}

.fx-nav-bar_layout {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.fx-nav-bar_title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 90px;
  font-weight: 500;
  font-size: 17px;
  color: #262626;
  height: 24px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}

.fx-nav-bar_left, .fx-nav-bar_right {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fx-nav-bar_right {
  left: auto;
  right: 0;
}

.fx-nav-bar_button-group {
  height: 100%;
  max-height: 64px;
}

.fx-nav-bar_button.fx-button {
  border-radius: 0;
  height: 100%;
}
