.fx-group {
  overflow: hidden;
  margin-bottom: 12px;
}

.fx-group_header {
  height: 44px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.fx-group_title {
  font-size: 14px;
  color: #8c8c8c;
  flex-shrink: 0;
  flex-grow: 1;
}

.fx-group_more {
  font-size: 14px;
  color: #bfbfbf;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fx-group.strong-header {
  background-color: #fff;
}

.fx-group.strong-header .fx-group_header {
  height: 48px;
  background-color: #fff;
}

.fx-group.strong-header .fx-group_title {
  font-size: 17px;
  font-weight: 700;
  color: #262626;
}

.fx-group.strong-header::before {
  content: '';
}

.fx-group_body::before, .fx-group_body::after {
  content: '';
}

.fx-group_body-inner {
  background-color: #fff;
}
