@import '../style/var.scss';

.fx-button-group {
  display: inline-flex;
  flex: 1;

  &.shape--square,
  &.shape--circle {
    flex: 0;
  }

  + .fx-button-group {
    margin-left: 16px;
  }

  &:not(.count--1) {
    > .fx-button {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-color: transparent;
        margin-right: -1px;

        &.size--small {
          padding: 0 12px;
        }

        &.shape--round,
        &.shape--circle {
          padding-left: 16px;
        }
      }

      + .fx-button {
        position: relative;
        margin-left: 0;
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &::before {
          content: '';
        }

        &.size--small {
          padding: 0 12px;
        }
      }

      &:last-child {
        &.shape--round,
        &.shape--circle {
          padding-right: 16px;
        }
      }
    }
  }
}
