.fx-button-group {
  display: inline-flex;
  flex: 1;
}

.fx-button-group.shape--square, .fx-button-group.shape--circle {
  flex: 0;
}

.fx-button-group + .fx-button-group {
  margin-left: 16px;
}

.fx-button-group:not(.count--1) > .fx-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: transparent;
  margin-right: -1px;
}

.fx-button-group:not(.count--1) > .fx-button:first-child.size--small {
  padding: 0 12px;
}

.fx-button-group:not(.count--1) > .fx-button:first-child.shape--round, .fx-button-group:not(.count--1) > .fx-button:first-child.shape--circle {
  padding-left: 16px;
}

.fx-button-group:not(.count--1) > .fx-button + .fx-button {
  position: relative;
  margin-left: 0;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fx-button-group:not(.count--1) > .fx-button + .fx-button::before {
  content: '';
}

.fx-button-group:not(.count--1) > .fx-button + .fx-button.size--small {
  padding: 0 12px;
}

.fx-button-group:not(.count--1) > .fx-button:last-child.shape--round, .fx-button-group:not(.count--1) > .fx-button:last-child.shape--circle {
  padding-right: 16px;
}
