.fx-horizontal-hairline::before, .fx-horizontal-hairline::after,
.fx-vertical-hairline::before,
.fx-vertical-hairline::after {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  border-color: #f0f0f0;
  border-width: 1px 0 0 0;
  border-style: solid;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.fx-horizontal-hairline::after {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.fx-horizontal-hairline.hairline-reverse::before {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.fx-horizontal-hairline.hairline-reverse::after {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.fx-vertical-hairline::before, .fx-vertical-hairline::after {
  height: 100%;
  width: 1px;
  border-width: 0 1px 0 0;
}

.fx-vertical-hairline::after {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.fx-vertical-hairline.hairline-reverse::before {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.fx-vertical-hairline.hairline-reverse::after {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .fx-horizontal-hairline::before, .fx-horizontal-hairline::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .fx-vertical-hairline::before, .fx-vertical-hairline::after {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .fx-horizontal-hairline::before, .fx-horizontal-hairline::after {
    -webkit-transform: scaleY(0.33333);
    transform: scaleY(0.33333);
  }
  .fx-vertical-hairline::before, .fx-vertical-hairline::after {
    -webkit-transform: scaleX(0.33333);
    transform: scaleX(0.33333);
  }
}
