@import './var.scss';

@mixin box-shadow {
  box-shadow: 0px 2px 4px rgba($color: $black-color, $alpha: 0.04);
}

@mixin background-active {
  background-color: rgba($color: $black-color, $alpha: 0.16);
}

@mixin card {
  border-radius: 8px;
  background-color: #fff;
  @include box-shadow;
}
