
$primary-color: #1890ff !default;
$success-color: #52c41a !default;
$warning-color: #faad14 !default;
$danger-color: #ff4d4f !default;
$primary-border-color: #40a9ff !default;
$success-border-color: #73d13d !default;
$warning-border-color: #ffc53d !default;
$danger-border-color: #ff7875 !default;
$primary-background-color: #e6f7ff !default;
$success-background-color: #f0ffe0 !default;
$warning-background-color: #fffae0 !default;
$danger-background-color: #ffe7e6 !default;

$black-color: #000000 !default;
$title-color: #262626 !default;
$font-color: #595959 !default;
$font2-color: #8c8c8c !default;
$font3-color: #bfbfbf !default;
$border-color: #d9d9d9 !default;
$divider-color: #f0f0f0 !default;
$background-color: #f5f5f5 !default;
$background2-color: #fafafa !default;

$one-third: 1 / 3;

$default-z-index: 2000;