$prefix: 'fx';

$primary-color: #1890ff;
$success-color: #52c41a;
$warning-color: #faad14;
$danger-color: #ff4d4f;

$black-color: #040a13;
$title-color: rgba(
  $color: $black-color,
  $alpha: 0.85
);
$font-color: rgba(
  $color: $black-color,
  $alpha: 0.65
);
$font2-color: rgba(
  $color: $black-color,
  $alpha: 0.45
);
$font3-color: rgba(
  $color: $black-color,
  $alpha: 0.25
);
$border-color: rgba(
  $color: $black-color,
  $alpha: 0.15
);
$divider-color: rgba(
  $color: $black-color,
  $alpha: 0.06
);
$background-color: rgba(
  $color: $black-color,
  $alpha: 0.04
);
$background2-color: rgba(
  $color: $black-color,
  $alpha: 0.02
);

:root {
  /* 主色调 */
  --#{$prefix}-primary-color: #{$primary-color};
  /* 警告色 */
  --#{$prefix}-warning-color: #{$warning-color};
  /* 成功色 */
  --#{$prefix}-success-color: #{$success-color};
  /* 危险色 */
  --#{$prefix}-danger-color: #{$danger-color};
  /* 基准黑 */
  --#{$prefix}-black-color: #{$black-color};
  /* 标题 */
  --#{$prefix}-title-color: #{$title-color};
  /* 主文字 */
  --#{$prefix}-font-color: #{$font-color};
  /* 辅助文字 */
  --#{$prefix}-font2-color: #{$font2-color};
  /* 辅助文字 */
  --#{$prefix}-font3-color: #{$font3-color};
  /* 容器线 */
  --#{$prefix}-border-color: #{$border-color};
  /* 划分线 */
  --#{$prefix}-divider-color: #{$divider-color};
  /* 背景 */
  --#{$prefix}-background-color: #{$background-color};
  /* 表头背景 */
  --#{$prefix}-background2-color: #{$background2-color};
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

@keyframes #{$prefix}-rotate-360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes #{$prefix}-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

.#{$prefix}-scroll-bar {
  --#{$prefix}-scroll-bar: rgba(0, 0, 0, 0.3);

  &:hover {
    --#{$prefix}-scroll-bar: rgba(0, 0, 0, 0.6);
  }

  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    background-color: var(--#{$prefix}-scroll-bar);
  }
}

.#{$prefix}-overflow-hidden {
  overflow: hidden !important;
}

.#{$prefix}-picker {
  position: absolute;

  &_overlay {
    display: none;
  }

  &_inner {
    min-width: 100%;
    border: 1px solid $border-color;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 0;
  }
}

@mixin rotate-360-animation($duration: 800ms) {
  animation: #{$prefix}-rotate-360 $duration infinite linear both;
}

@mixin skeleton-background {
  background: linear-gradient(90deg, #f0f0f1 25%, #d6d6d8 37%, #f0f0f1 63%);
  background-size: 400% 100%;
}

@media screen and (max-width: 575px) {
  .#{$prefix}-picker {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    width: 100vw;
    height: 100vh;

    &_overlay {
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.2s;
    }

    &_inner {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      bottom: 0;
      border: none;
      box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
      border-radius: 0;
      transform: translate3d(0, 100vh, 0);
      transition: transform 0.2s;
    }

    &.visible {
      .#{$prefix}-picker {
        &_overlay {
          opacity: 1;
        }

        &_inner {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}
