$prefix: 'fx';

$main-color: var(--#{$prefix}-primary-color);
$warning-color: #faad14;
$primary-color: #1890ff;
$light-color: var(--#{$prefix}-light-color);
$warn-color: var(--#{$prefix}-warn-color);
$danger-color: #ff4d4f;
$success-color: var(--#{$prefix}-success-color);
$semi-color: var(--#{$prefix}-semi-color);
$whitesmoke-color: var(--#{$prefix}-whitesmoke-color);
$grey-color: var(--#{$prefix}-grey-color);

$black-color: #040a13;
$title-color: rgba(
  $color: $black-color,
  $alpha: 0.85
);
$font-color: rgba(
  $color: $black-color,
  $alpha: 0.65
);
$font2-color: rgba(
  $color: $black-color,
  $alpha: 0.45
);
$font3-color: rgba(
  $color: $black-color,
  $alpha: 0.25
);
$border-color: rgba(
  $color: $black-color,
  $alpha: 0.15
);
$divider-color: rgba(
  $color: $black-color,
  $alpha: 0.06
);
$background-color: rgba(
  $color: $black-color,
  $alpha: 0.04
);
$background2-color: rgba(
  $color: $black-color,
  $alpha: 0.02
);

@mixin rotate-360-animation($duration: 800ms) {
  animation: #{$prefix}-rotate-360 $duration infinite linear both;
}

:root {
  /* 主色调/成功色 */
  --#{$prefix}-main-color: #1890ff;
  --#{$prefix}-primary-color: #1890ff;
  /* 链接色 */
  --#{$prefix}-link-color: #576b95;
  /* 强调色/警告色 */
  --#{$prefix}-warn-color: #faad14;
  /* 成功色 */
  --#{$prefix}-success-color: #52c41a;
  /* 危险色 */
  --#{$prefix}-danger-color: #ff4d4f;
  /* 基准黑 */
  --#{$prefix}-black-color: #040a13;
  /* 标题 */
  --#{$prefix}-title-color: rgba(4, 10, 19, 0.85);
  /* 主文字 */
  --#{$prefix}-font-color: rgba(4, 10, 19, 0.65);
  /* 辅助文字 */
  --#{$prefix}-font2-color: rgba(4, 10, 19, 0.45);
  /* 辅助文字 */
  --#{$prefix}-font3-color: rgba(4, 10, 19, 0.25);
  /* 容器线 */
  --#{$prefix}-border-color: rgba(4, 10, 19, 0.15);
  /* 划分线 */
  --#{$prefix}-divider-color: rgba(4, 10, 19, 0.06);
  /* 背景 */
  --#{$prefix}-background-color: rgba(4, 10, 19, 0.04);
  /* 表头背景 */
  --#{$prefix}-background2-color: rgba(4, 10, 19, 0.02);

  /* 次要内容 */
  --#{$prefix}-grey-color: #888888;
  /* 时间戳和表单缺省 */
  --#{$prefix}-light-color: #b2b2b2;
  /* 禁用背景 */
  --#{$prefix}-whitesmoke-color: whitesmoke;
}

html {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

@keyframes #{$prefix}-rotate-360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.#{$prefix}-scroll-bar {
  --#{$prefix}-scroll-bar: rgba(0, 0, 0, 0.3);

  &:hover {
    --#{$prefix}-scroll-bar: rgba(0, 0, 0, 0.6);
  }

  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    background-color: var(--#{$prefix}-scroll-bar);
  }
}

.#{$prefix}-noscroll {
  overflow: hidden;

  body {
    position: fixed;
    width: 100%;
  }
}

.#{$prefix}-picker {
  position: absolute;

  &_inner {
    min-width: 100%;
    border: 1px solid $light-color;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
}

@media screen and (max-width: 575px) {
  .#{$prefix}-picker {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);

    &_inner {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      bottom: 0;
      border: none;
      box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
      border-radius: 0;
    }
  }
}
