$prefix: 'fx';

$primary-color: #1890ff;
$success-color: #52c41a;
$warning-color: #faad14;
$danger-color: #ff4d4f;

$black-color: #040a13;
$title-color: #292e36;
$font-color: #5b5f65;
$font2-color: #8e9095;
$font3-color: #c0c1c4;
$border-color: #dadadc;
$divider-color: #f0f1f1;
$background-color: #f5f5f6;
$background2-color: #fafafa;

:root {
  /* 主色调 */
  --#{$prefix}-primary-color: #{$primary-color};
  /* 警告色 */
  --#{$prefix}-warning-color: #{$warning-color};
  /* 成功色 */
  --#{$prefix}-success-color: #{$success-color};
  /* 危险色 */
  --#{$prefix}-danger-color: #{$danger-color};
  /* 基准黑 */
  --#{$prefix}-black-color: #{$black-color};
  /* 标题 */
  --#{$prefix}-title-color: #{$title-color};
  /* 主文字 */
  --#{$prefix}-font-color: #{$font-color};
  /* 辅助文字 */
  --#{$prefix}-font2-color: #{$font2-color};
  /* 辅助文字 */
  --#{$prefix}-font3-color: #{$font3-color};
  /* 容器线 */
  --#{$prefix}-border-color: #{$border-color};
  /* 划分线 */
  --#{$prefix}-divider-color: #{$divider-color};
  /* 背景 */
  --#{$prefix}-background-color: #{$background-color};
  /* 表头背景 */
  --#{$prefix}-background2-color: #{$background2-color};
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@keyframes #{$prefix}-rotate-360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes #{$prefix}-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

.#{$prefix}-scroll-bar {
  --#{$prefix}-scroll-bar: rgba(0, 0, 0, 0.3);

  &:hover {
    --#{$prefix}-scroll-bar: rgba(0, 0, 0, 0.6);
  }

  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    background-color: var(--#{$prefix}-scroll-bar);
  }
}

.#{$prefix}-overflow-hidden {
  overflow: hidden !important;
}

.#{$prefix}-picker {
  position: absolute;

  &_inner {
    min-width: 100%;
    border: 1px solid $border-color;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 0;
    max-height: 220px;
  }
}

@mixin rotate-360-animation($duration: 800ms) {
  animation: #{$prefix}-rotate-360 $duration infinite linear both;
}

@mixin skeleton-background {
  background: linear-gradient(90deg, #f0f0f1 25%, #d6d6d8 37%, #f0f0f1 63%);
  background-size: 400% 100%;
}

.#{$prefix}-horizontal-hairline,
.#{$prefix}-vertical-hairline {
  &::before,
  &::after {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    border: none;
    background-color: $divider-color;
  }
}

.#{$prefix}-vertical-hairline {
  &::before,
  &::after {
    height: 100%;
    width: 1px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .#{$prefix}-horizontal-hairline {
    &::before,
    &::after {
      transform: scaleY(0.5);
    }
  }

  .#{$prefix}-vertical-hairline {
    &::before,
    &::after {
      transform: scaleX(0.5);
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .#{$prefix}-horizontal-hairline {
    &::before,
    &::after {
      transform: scaleY(0.333333);
    }
  }

  .#{$prefix}-vertical-hairline {
    &::before,
    &::after {
      transform: scaleX(0.333333);
    }
  }
}
