@import '../style/var.scss';

.fx-tab-bar {
  --tab-bar-color: #{$font-color};
  --tab-bar-active-color: #{$primary-color};
  --tab-bar-background-color: #fff;

  height: 52px;

  &_inner {
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: var(--tab-bar-background-color);

    &::before,
    &::after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      content: '';
    }

    &::after {
      top: auto;
      bottom: 0;
    }

    &.fixed {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
    }
  }

  &_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
  }

  &_item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--tab-bar-color);
    font-size: 12px;
    line-height: 17px;

    &-icon {
      display: block;
      width: 24px;
      height: 24px;
      margin-top: 1px;
    }

    .fx-icon {
      --size: 24px;
      --color: var(--tab-bar-color);
    }

    &.active {
      color: var(--tab-bar-active-color);

      .fx-icon {
        --color: var(--tab-bar-active-color);
      }
    }
  }
}
