@import '../style/var.scss';

.fx-pop-menu {
  .fx-mask {
    background-color: rgba($color: $black-color, $alpha: 0.1);
  }

  &_list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
  }

  &_item {
    cursor: pointer;

    &:not(.disabled):active {
      @include background-active;
    }

    &:not(:last-child)::after {
      content: '';
    }

    &-inner {
      height: 48px;
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 22px;
      color: $title-color;
      text-align: center;
      user-select: none;
      padding: 0 24px;
      box-sizing: border-box;
      justify-content: center;

      .fx-icon {
        --size: 18px;
        --color: #{$title-color};
        vertical-align: middle;
        margin: 0 12px 0 0;
        flex-shrink: 0;
      }

      span {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        flex-shrink: 1;
        overflow: hidden;
      }

      &.has--icon {
        justify-content: flex-start;
        padding: 0 20px;
      }
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }
  }
}
