.fx-divider {
  --divider-font-color: #bfbfbf;
  --divider-border-color: #f0f0f0;
  display: flex;
  align-items: center;
  margin: 12px 0;
  border: 0 solid var(--divider-border-color);
  color: var(--divider-font-color);
}

.fx-divider.fx-horizontal-hairline::before, .fx-divider.fx-horizontal-hairline::after {
  flex: 1;
  border-color: inherit;
  border-style: inherit;
}

.fx-divider::before {
  content: '';
}

.fx-divider.has--title::after {
  content: '';
}

.fx-divider span {
  display: block;
  margin: 0 16px;
  font-size: 14px;
  line-height: 20px;
}

.fx-divider.border--dashed {
  border-style: dashed;
}
