@import '../style/var.scss';

.#{$prefix}-tab {
  --tab-active-color: #{$title-color};
  --tab-color: #{$font-color};
  background-color: #fff;

  &_list {
    padding: 0 4px;
    margin: 0;
    width: 100%;
    height: 36px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    position: relative;
  }

  &_item {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding: 0 12px;
    position: relative;
    box-sizing: border-box;
    color: var(--tab-color);

    &:active {
      background-color: rgba($color: $black-color, $alpha: 0.16);
    }

    &-inner {
      display: inline-block;
      vertical-align: middle;
      position: relative;

      &::before {
        content: none;
        position: absolute;
        top: -1px;
        left: -4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        border-radius: 50%;
        background: linear-gradient(145deg, rgba(24, 144, 255, 0.3) 13.5%, rgba(24, 144, 255, 0.05) 86.5%);
      }
    }

    &-text {
      display: block;
      word-break: break-all;
      white-space: pre-wrap;
    }

    &.active {
      color: var(--tab-active-color);
      font-weight: 700;

      .#{$prefix}-tab_item-inner::before {
        content: '';
      }
    }
  }

  &.no--scroll:not(.vertical) {
    .#{$prefix}-tab {
      &_list {
        display: flex;
        padding: 0;
      }

      &_item {
        flex: 1;
        padding: 0;

        &-text {
          flex-grow: 1;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }

  &.vertical {
    height: 100%;
    background-color: $background-color;

    .#{$prefix}-tab {
      &_list {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100%;
        height: auto;
        background-color: #fff;
        padding: 0;
      }

      &_item {
        display: flex;
        min-height: 40px;
        cursor: pointer;
        background-color: $background-color;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 12px;
        justify-content: flex-start;

        &.active {
          background-color: #fff;
        }

        &.active-prev {
          border-radius: 0 0 4px 0;
        }

        &.active-next {
          border-radius: 0 4px 0 0;
        }

        &-inner {
          height: auto;
        }
      }
    }

    &.no--scroll {
      .#{$prefix}-tab {
        &_list {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }
    }
  }
}
