@import '../style/mixin.scss';

.fx-button {
  --button-font-color: #fff;
  --button-border-color: transparent;
  --button-icon-size: 20px;
  --button-size: 48px;

  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  height: var(--button-size);
  padding: 0 12px;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid var(--button-border-color);
  background: #fff;
  font-weight: 500;
  color: var(--button-font-color);
  user-select: none;
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
  transform: translateZ(0);

  span {
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 12px;
    width: 1px;
    transform: translate3d(0, -50%, 0) scaleX(1);
    background-color: var(--button-border-color);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    border: 0 solid var(--button-border-color);
  }

  &:not(:disabled):active::after {
    @include background-active;
  }

  + .fx-button {
    margin-left: 16px;
  }

  .fx-icon {
    flex-shrink: 0;
    --color: var(--button-font-color);
    --size: var(--button-icon-size);
  }

  &.shape--round {
    border-radius: calc(var(--button-size) / 2);
  }

  &.shape--round,
  &.shape--rectangle {
    .fx-icon {
      margin: 0 8px 0 -2px;
    }
  }

  &.shape--square,
  &.shape--circle {
    flex-grow: 0;
    flex-shrink: 0;

    --button-icon-size: 24px;

    &.size--middle {
      --button-icon-size: 20px;
    }

    &.size--small {
      --button-icon-size: 18px;
    }

    span {
      display: none;
    }
  }

  &.shape--circle {
    border-radius: 24px;
  }

  &.size--middle {
    --button-size: 40px;
    line-height: 21px;
    font-size: 15px;
    --button-icon-size: 18px;

    &.shape--square,
    &.shape--circle {
      padding: 0 9px;
    }

    &.shape--square,
    &.shape--rectangle {
      border-radius: 3px;
    }

    &::before {
      height: 10px;
    }

    &.shape--round,
    &.shape--rectangle {
      .fx-icon {
        margin: 0 4px 0 -2px;
      }
    }
  }

  &.size--small {
    --button-size: 28px;
    line-height: 17px;
    font-size: 12px;
    --button-icon-size: 16px;
    // border-width: 0;

    &.shape--square,
    &.shape--circle {
      padding: 0 4px;
    }

    &.shape--square,
    &.shape--rectangle {
      border-radius: 2px;
    }

    // &::after {
    //   border-width: 1px;
    // }

    &.shape--round,
    &.shape--rectangle {
      .fx-icon {
        margin: 0 2px 0 -2px;
      }
    }
  }

  &.pattern--dashed,
  &.pattern--dashed::after {
    border-style: dashed;
  }

  &.pattern--borderless,
  &.pattern--borderless::after {
    border-width: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }

  &.type--default {
    background-color: #fff;
    --button-font-color: #{$title-color};
    --button-border-color: #{$border-color};

    &.transparent {
      background-color: transparent;
    }

    &.ghost {
      background-color: transparent;
      --button-font-color: #fff;
      --button-border-color: #fff;
    }
  }

  &.type--primary {
    background-color: $primary-color;

    &.pattern--solid,
    &.pattern--dashed,
    &.pattern--borderless,
    &.ghost,
    &.transparent {
      background-color: #fff;
      --button-font-color: #{$primary-color};
      --button-border-color: #{$primary-border-color};
    }

    &.pattern--gradient {
      background-image: linear-gradient(
        90deg,
        $primary-border-color 0%,
        $primary-color 100%
      );
      --button-border-color: transparent;
    }

    &.ghost,
    &.transparent {
      background-color: transparent;
    }
  }

  &.type--success {
    background-color: $success-color;

    &.pattern--solid,
    &.pattern--dashed,
    &.pattern--borderless,
    &.ghost,
    &.transparent {
      background-color: #fff;
      --button-font-color: #{$success-color};
      --button-border-color: #{$success-border-color};
    }

    &.pattern--gradient {
      background-image: linear-gradient(
        90deg,
        $success-border-color 0%,
        $success-color 100%
      );
      --button-border-color: transparent;
    }

    &.ghost,
    &.transparent {
      background-color: transparent;
    }
  }

  &.type--warning {
    background-color: $warning-color;

    &.pattern--solid,
    &.pattern--dashed,
    &.pattern--borderless,
    &.ghost,
    &.transparent {
      background-color: #fff;
      --button-font-color: #{$warning-color};
      --button-border-color: #{$warning-border-color};
    }

    &.pattern--gradient {
      background-image: linear-gradient(
        90deg,
        $warning-border-color 0%,
        $warning-color 100%
      );
      --button-border-color: transparent;
    }

    &.ghost,
    &.transparent {
      background-color: transparent;
    }
  }

  &.type--danger {
    background-color: $danger-color;

    &.pattern--solid,
    &.pattern--dashed,
    &.pattern--borderless,
    &.ghost,
    &.transparent {
      background-color: #fff;
      --button-font-color: #{$danger-color};
      --button-border-color: #{$danger-border-color};
    }

    &.pattern--gradient {
      background-image: linear-gradient(
        90deg,
        $danger-border-color 0%,
        $danger-color 100%
      );
      --button-border-color: transparent;
    }

    &.ghost,
    &.transparent {
      background-color: transparent;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .fx-button {
    &::before {
      transform: translate3d(0, -50%, 0) scaleX(0.5);
    }

    // &::after {
    //   left: -50%;
    //   right: -50%;
    //   top: -50%;
    //   bottom: -50%;
    //   transform: scale(0.5);
    // }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .fx-button {
    &::before {
      transform: translate3d(0, -50%, 0) scaleX($one-third);
    }

    // &::after {
    //   left: -100%;
    //   right: -100%;
    //   top: -100%;
    //   bottom: -100%;
    //   transform: scale($one-third);
    // }
  }
}
