.fx-button {
  --button-font-color: #fff;
  --button-border-color: transparent;
  --button-icon-size: 20px;
  --button-size: 48px;
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  height: var(--button-size);
  padding: 0 11px;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid var(--button-border-color);
  background: #fff;
  font-weight: 500;
  color: var(--button-font-color);
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
  transform: translateZ(0);
}

.fx-button span {
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}

.fx-button::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 12px;
  width: 1px;
  transform: translate3d(0, -50%, 0) scaleX(1);
  background-color: var(--button-border-color);
}

.fx-button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border: 0 solid var(--button-border-color);
}

.fx-button:not(:disabled):active::after {
  background-color: rgba(0, 0, 0, 0.16);
}

.fx-button + .fx-button {
  margin-left: 16px;
}

.fx-button .fx-icon {
  flex-shrink: 0;
  --color: var(--button-font-color);
  --size: var(--button-icon-size);
}

.fx-button.shape--round {
  border-radius: calc(var(--button-size) / 2);
}

.fx-button.shape--round .fx-icon, .fx-button.shape--rectangle .fx-icon {
  margin: 0 8px 0 -2px;
}

.fx-button.shape--square, .fx-button.shape--circle {
  flex-grow: 0;
  flex-shrink: 0;
  --button-icon-size: 24px;
}

.fx-button.shape--square.size--middle, .fx-button.shape--circle.size--middle {
  --button-icon-size: 20px;
}

.fx-button.shape--square.size--small, .fx-button.shape--circle.size--small {
  --button-icon-size: 18px;
}

.fx-button.shape--square span, .fx-button.shape--circle span {
  display: none;
}

.fx-button.shape--circle {
  border-radius: 24px;
}

.fx-button.size--middle {
  --button-size: 40px;
  line-height: 21px;
  font-size: 15px;
  --button-icon-size: 18px;
}

.fx-button.size--middle.shape--square, .fx-button.size--middle.shape--circle {
  padding: 0 9px;
}

.fx-button.size--middle.shape--square, .fx-button.size--middle.shape--rectangle {
  border-radius: 3px;
}

.fx-button.size--middle::before {
  height: 10px;
}

.fx-button.size--middle.shape--round .fx-icon, .fx-button.size--middle.shape--rectangle .fx-icon {
  margin: 0 4px 0 -2px;
}

.fx-button.size--small {
  --button-size: 28px;
  line-height: 17px;
  font-size: 12px;
  --button-icon-size: 16px;
}

.fx-button.size--small.shape--square, .fx-button.size--small.shape--circle {
  padding: 0 4px;
}

.fx-button.size--small.shape--square, .fx-button.size--small.shape--rectangle {
  border-radius: 2px;
}

.fx-button.size--small.shape--round .fx-icon, .fx-button.size--small.shape--rectangle .fx-icon {
  margin: 0 2px 0 -2px;
}

.fx-button.pattern--dashed, .fx-button.pattern--dashed::after {
  border-style: dashed;
}

.fx-button.pattern--borderless, .fx-button.pattern--borderless::after {
  border-width: 0;
}

.fx-button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.fx-button.type--default {
  background-color: #fff;
  --button-font-color: #262626;
  --button-border-color: #d9d9d9;
}

.fx-button.type--default.ghost {
  background-color: transparent;
  --button-font-color: #fff;
  --button-border-color: #fff;
}

.fx-button.type--primary {
  background-color: #1890ff;
}

.fx-button.type--primary.pattern--solid, .fx-button.type--primary.pattern--dashed, .fx-button.type--primary.pattern--borderless, .fx-button.type--primary.ghost {
  background-color: #fff;
  --button-font-color: #1890ff;
  --button-border-color: #40a9ff;
}

.fx-button.type--primary.pattern--gradient {
  background-image: linear-gradient(90deg, #40a9ff 0%, #1890ff 100%);
  --button-border-color: transparent;
}

.fx-button.type--primary.ghost {
  background-color: transparent;
}

.fx-button.type--success {
  background-color: #52c41a;
}

.fx-button.type--success.pattern--solid, .fx-button.type--success.pattern--dashed, .fx-button.type--success.pattern--borderless, .fx-button.type--success.ghost {
  background-color: #fff;
  --button-font-color: #52c41a;
  --button-border-color: #73d13d;
}

.fx-button.type--success.pattern--gradient {
  background-image: linear-gradient(90deg, #73d13d 0%, #52c41a 100%);
  --button-border-color: transparent;
}

.fx-button.type--success.ghost {
  background-color: transparent;
}

.fx-button.type--warning {
  background-color: #faad14;
}

.fx-button.type--warning.pattern--solid, .fx-button.type--warning.pattern--dashed, .fx-button.type--warning.pattern--borderless, .fx-button.type--warning.ghost {
  background-color: #fff;
  --button-font-color: #faad14;
  --button-border-color: #ffc53d;
}

.fx-button.type--warning.pattern--gradient {
  background-image: linear-gradient(90deg, #ffc53d 0%, #faad14 100%);
  --button-border-color: transparent;
}

.fx-button.type--warning.ghost {
  background-color: transparent;
}

.fx-button.type--danger {
  background-color: #ff4d4f;
}

.fx-button.type--danger.pattern--solid, .fx-button.type--danger.pattern--dashed, .fx-button.type--danger.pattern--borderless, .fx-button.type--danger.ghost {
  background-color: #fff;
  --button-font-color: #ff4d4f;
  --button-border-color: #ff7875;
}

.fx-button.type--danger.pattern--gradient {
  background-image: linear-gradient(90deg, #ff7875 0%, #ff4d4f 100%);
  --button-border-color: transparent;
}

.fx-button.type--danger.ghost {
  background-color: transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .fx-button::before {
    transform: translate3d(0, -50%, 0) scaleX(0.5);
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .fx-button::before {
    transform: translate3d(0, -50%, 0) scaleX(0.33333);
  }
}
