.fx-number-keyboard .fx-drawer_inner {
  background: #fafafa;
}

.fx-number-keyboard .fx-nav-bar_inner::after {
  content: none;
}

.fx-number-keyboard_body {
  padding: 10px 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fx-number-keyboard_body.has--header {
  padding-top: 0;
}

.fx-number-keyboard_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fx-number-keyboard_item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%;
  padding: 0 10px 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fx-number-keyboard_item.span-2 {
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%;
}

.fx-number-keyboard_button, .fx-number-keyboard_confirm-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  background-color: #fff;
  font-size: 26px;
  font-weight: 700;
  color: #595959;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fx-number-keyboard_button:active, .fx-number-keyboard_confirm-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}

.fx-number-keyboard_button .fx-icon, .fx-number-keyboard_confirm-button .fx-icon {
  --size: 36px;
  --color: #595959;
}

.fx-number-keyboard_right-column {
  width: 25%;
}

.fx-number-keyboard_backspace {
  height: 25%;
  padding: 0 10px 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fx-number-keyboard_confirm {
  height: 75%;
  padding: 0 10px 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fx-number-keyboard_confirm-button {
  height: 100%;
  background-color: #1890ff;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
