@import '../style/var.scss';

.#{$prefix}-popup.#{$prefix}-toast {
  width: 0;
  height: 0;

  &.forbid-click {
    width: 100vw;
    height: 100vh;
  }
}

.#{$prefix}-toast {
  width: 0;
  height: 0;

  &_box {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 100px;
    max-width: 70%;
    z-index: $default-z-index;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    opacity: 0;
    min-height: 48px;
    padding: 12px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba($color: $black-color, $alpha: 0.65);
    color: #fff;
    transform: translate3d(-50%, -50%, 0) scale(0);

    &.has--icon {
      .#{$prefix}-toast {
        &_icon {
          --size: 21px;
          fill: #fff;
          margin-right: 8px;
          flex-shrink: 0;
        }

        &_text {
          -webkit-line-clamp: 1;
          height: 24px;
        }
      }
    }
  }

  &.visible {
    .#{$prefix}-toast_box {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0) scale(1);
    }
  }

  &_text {
    font-size: 17px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
  }
}
