.fx-swiper {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fx-swiper_indicators {
  position: absolute;
  left: 50%;
  bottom: 6px;
  text-align: center;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fx-swiper_indicators.vertical {
  left: 6px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fx-swiper_indicator {
  display: block;
  margin: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fx-swiper_indicator.active {
  background-color: #fff;
}

.fx-swiper_prev.type--default.ghost, .fx-swiper_next.type--default.ghost {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  background-color: rgba(0, 0, 0, 0.2);
}

.fx-swiper_next.type--default.ghost {
  left: auto;
  right: 12px;
}

.fx-swiper_list {
  height: 100%;
}

.fx-swiper-item {
  height: 100%;
}
