.fx-pop-dialog_footer {
  display: flex;
  flex-direction: column;
}

.fx-pop-dialog_footer::before {
  content: '';
}

.fx-pop-dialog_footer-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.fx-pop-dialog_footer-inner > .fx-button + .fx-button::before {
  height: 100%;
  background-color: #d9d9d9;
}
