@import '../style/var.scss';

.fx-pop-dialog {
  &_footer {
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      position: relative;

      > .fx-button + .fx-button::before {
        height: 100%;
        background-color: $border-color;
      }
    }
  }
}
