.fx-tab {
  --tab-active-color: #262626;
  --tab-color: #595959;
  background-color: #fff;
}

.fx-tab_list {
  padding: 0 4px;
  margin: 0;
  width: 100%;
  height: 36px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  position: relative;
}

.fx-tab_item {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 0 12px;
  position: relative;
  box-sizing: border-box;
  color: var(--tab-color);
}

.fx-tab_item:active {
  background-color: rgba(0, 0, 0, 0.16);
}

.fx-tab_item-inner {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.fx-tab_item-inner::before {
  content: none;
  position: absolute;
  top: -1px;
  left: -4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  border-radius: 50%;
  background: linear-gradient(145deg, rgba(24, 144, 255, 0.3) 13.5%, rgba(24, 144, 255, 0.05) 86.5%);
}

.fx-tab_item-text {
  display: block;
  word-break: break-all;
  white-space: pre-wrap;
}

.fx-tab_item.active {
  color: var(--tab-active-color);
  font-weight: 700;
}

.fx-tab_item.active .fx-tab_item-inner::before {
  content: '';
}

.fx-tab.no--scroll:not(.vertical) .fx-tab_list {
  display: flex;
  padding: 0;
}

.fx-tab.no--scroll:not(.vertical) .fx-tab_item {
  flex: 1;
  padding: 0;
}

.fx-tab.no--scroll:not(.vertical) .fx-tab_item-text {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fx-tab.vertical {
  height: 100%;
  background-color: #f5f5f5;
}

.fx-tab.vertical .fx-tab_list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  height: auto;
  background-color: #fff;
  padding: 0;
}

.fx-tab.vertical .fx-tab_item {
  display: flex;
  min-height: 40px;
  cursor: pointer;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 12px;
  justify-content: flex-start;
}

.fx-tab.vertical .fx-tab_item.active {
  background-color: #fff;
}

.fx-tab.vertical .fx-tab_item.active-prev {
  border-radius: 0 0 4px 0;
}

.fx-tab.vertical .fx-tab_item.active-next {
  border-radius: 0 4px 0 0;
}

.fx-tab.vertical .fx-tab_item-inner {
  height: auto;
}

.fx-tab.vertical.no--scroll .fx-tab_list {
  display: flex;
  flex-direction: column;
  height: 100%;
}
