:root {
  /* 主色调 */
  --app-main-color: #09bb07;
  /* 链接色 */
  --app-link-color: #576b95;
  /* 强调色/警告色 */
  --app-warn-color: #e64340;
  /* 主要内容 */
  --app-black-color: #000000;
  /* 大段内容 */
  --app-semi-color: #353535;
  /* 次要内容 */
  --app-grey-color: #888888;
  /* 时间戳和表单缺省 */
  --app-light-color: #b2b2b2;
  /* 禁用背景 */
  --app-whitesmoke-color: whitesmoke;
}

html {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

@keyframes app-rotate-360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.app-scroll-bar {
  --app-scroll-color: #fff;
}

.app-scroll-bar:hover {
  --app-scroll-color: var(--app-light-color);
}

.app-scroll-bar::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

.app-scroll-bar::-webkit-scrollbar-thumb {
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 3px;
  background-color: var(--app-scroll-color);
}
