@import '../style/var.scss';

.fx-notice-bar {
  // --notice-bar-color: #{$warning-color};
  --notice-bar-color: #db8f02;
  --notice-bar-background-color: #{$warning-background-color};

  position: relative;
  display: flex;
  padding: 10px 0 10px 16px;
  min-height: 40px;
  align-items: center;
  background-color: var(--notice-bar-background-color);
  color: var(--notice-bar-color);
  line-height: 20px;
  font-size: 14px;
  box-sizing: border-box;
  flex-grow: 1;

  &.type--success {
    --notice-bar-color: #{$success-color};
    --notice-bar-background-color: #{$success-background-color};
  }

  &.type--primary {
    --notice-bar-color: #{$primary-color};
    --notice-bar-background-color: #{$primary-background-color};
  }

  &.type--danger {
    --notice-bar-color: #{$danger-color};
    --notice-bar-background-color: #{$danger-background-color};
  }

  &_left-icon,
  &_right-icon {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 8px;
    flex-shrink: 0;

    .fx-icon {
      --size: 14px;
      --color: var(--notice-bar-color);
    }
  }

  &_right-icon {
    padding: 0 16px 0 8px;
    margin: -10px 0;
  }

  &_content {
    flex-grow: 1;
    overflow: hidden;
    margin-right: 16px;
    position: relative;
    min-height: 20px;
    text-align: left;

    + .fx-notice-bar_right-icon {
      margin-left: -16px;
    }
  }

  &_content-inner {
    &.marquee {
      position: absolute;
      white-space: nowrap;
      transition-timing-function: linear;
    }
  }
}
