.fx-notice-bar {
  --notice-bar-color: #db8f02;
  --notice-bar-background-color: #fffae0;
  position: relative;
  display: flex;
  padding: 10px 0 10px 16px;
  min-height: 40px;
  align-items: center;
  background-color: var(--notice-bar-background-color);
  color: var(--notice-bar-color);
  line-height: 20px;
  font-size: 14px;
  box-sizing: border-box;
  flex-grow: 1;
}

.fx-notice-bar.type--success {
  --notice-bar-color: #52c41a;
  --notice-bar-background-color: #f0ffe0;
}

.fx-notice-bar.type--primary {
  --notice-bar-color: #1890ff;
  --notice-bar-background-color: #e6f7ff;
}

.fx-notice-bar.type--danger {
  --notice-bar-color: #ff4d4f;
  --notice-bar-background-color: #ffe7e6;
}

.fx-notice-bar_left-icon, .fx-notice-bar_right-icon {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 8px;
  flex-shrink: 0;
}

.fx-notice-bar_left-icon .fx-icon, .fx-notice-bar_right-icon .fx-icon {
  --size: 17px;
  --color: var(--notice-bar-color);
}

.fx-notice-bar_right-icon {
  padding: 0 16px 0 8px;
  margin: -10px 0;
}

.fx-notice-bar_content {
  flex-grow: 1;
  overflow: hidden;
  margin-right: 16px;
  position: relative;
  min-height: 20px;
  text-align: left;
}

.fx-notice-bar_content + .fx-notice-bar_right-icon {
  margin-left: -16px;
}

.fx-notice-bar_content-inner.marquee {
  position: absolute;
  white-space: nowrap;
  transition-timing-function: linear;
}
