@import '../style/var.scss';

.fx-badge {
  display: inline-block;
  position: relative;
  vertical-align: top;
  --badge-background-color: #{$danger-color};
  --badge-color: #fff;

  &_badge {
    position: absolute;
    height: 17px;
    min-width: 17px;
    line-height: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    border-radius: 8.5px;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 400;
    color: var(--badge-color);
    background-color: var(--badge-background-color);
    transform: scale(0);
    border: 1px solid #fff;
    box-sizing: border-box;

    .fx-icon {
      --size: 11px;
      --color: var(--badge-color);
      margin: 0 -4px;
    }

    &.dot {
      right: -6px;
      top: -6px;
      height: 12px;
      width: 12px;
      min-width: 0;
      padding: 0;
      overflow: hidden;
      text-indent: -9999px;

      * {
        display: none;
      }
    }
  }

  &.animated {
    .fx-badge {
      &_badge {
        transition: transform 0.2s;
      }
    }
  }
}
