@import '../style/var.scss';

.fx-badge {
  display: inline-block;
  position: relative;
  vertical-align: top;
  --badge-background-color: #{$danger-color};
  --badge-color: #fff;

  &_num {
    position: absolute;
    height: 15px;
    line-height: 15px;
    min-width: 15px;
    display: inline-flex;
    align-items: center;
    padding: 0 4px;
    border-radius: 7.5px;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 400;
    color: var(--badge-color);
    background-color: var(--badge-background-color);
    transform: scale(0);
  }

  &_dot {
    position: absolute;
    right: -5px;
    top: -5px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--badge-color);
    background-color: var(--badge-background-color);
    border: 1px solid var(--border-color);
    transform: scale(0);
  }

  &.animated {
    .fx-badge {
      &_num {
        transition: transform 0.2s;
      }

      &_dot {
        transition: transform 0.1s;
      }
    }
  }
}
